
/*--------------------------------------------------------------
#  Model Compcard Style 1
--------------------------------------------------------------*/
body, html, *{
  margin: 0!important;
  padding: 0px!important;
}
@media print {
@page :first {
  margin: 8mm!important;
  padding: 0px!important;
  overflow: hidden!important;
}
.header-wrap,
    footer,
    .profile_head_sidebar,
    .um-profile-nav, 
    .um-profile-note,
    .um-profile-body > div:not(.compcard),
    .footer-width-fixer,
    a.scrolltop,
    a.cc_print_button,
    .kaya-page-titlebar-wrapper,
    #kaya-header-content-wrapper
  {

    display: none!important;
    width: 100%!important;
  }

.one_fifth, .four_fifth_last{
    width: 100%!important;
    padding: 0px;
    margin: 0px;
  }
.um-profile .um-profile-body{
      border:none!important;
      background-color: transparent!important;
      margin: 0px;
      padding: 0px;
    }
/*
.um-profile div:not(.um-viewing .compcard){
  display: none;
}
*/
 .compcard{
        display: block!important;
    }

.um-viewing .compcard div.um-photo img {
  max-height: inherit!important;
}
.um-viewing .compcard .um-field, div.um-photo{
  margin: 0px;
  padding: 0px;
}


.um-viewing .compcard .um-field-image .um-field-label{
  display: none!important;
  width: 0px;
  height: 0px;
}

div.um-photo img,
.um-profile.um-viewing .um-field, div.um-photo a, div.um-photo
 {
   border:none!important;
    padding:0px!important;
    margin: 0px!important;
    border-radius:0px!important;
  box-shadow:none!important;
}
.kaya_um_user_meta::after{
  content: "-";
}
.kaya_um_user_meta:last-child::after { 
  content: " "; }
.kaya_um_user_meta:first-child{
 padding-left: 0px!important;
}
.kaya_um_user_meta:last-child{
  border-right: none!important;
}
.um-profile.um-viewing .um-field, div.um-photo a, div.um-photo{
  border:none!important;
  padding: 0px!important;
  margin: 0px;
}
.um-viewing .compcard .um-field-label{
  float: left;
  margin-right: 10px;
  border:none!important;
  margin-bottom: 0px!important;
}
.um-viewing .compcard {
  margin:0px auto!important;
  overflow: hidden!important;
  height:194mm!important;
  width: 281mm!important;
  position: absolute;
  left: 0px;
  top: 0px;
} 

.um-viewing .compcard > div:nth-child(1) > div:nth-child(1) {
  height:194mm!important;
  width: 100%!important;
  overflow: hidden!important;
}

.um-viewing .compcard > div:nth-child(1) > div:nth-child(2) {
  font-size: 50px;
  font-weight: bold;
  bottom: 30px;
  position: absolute;
  padding: 2px 10px!important;
  background-color: #fff;
}

.um-viewing .compcard > div:nth-child(2) > div{
  width: calc(50% - 20px);
  float: left;
  display: inline-block;
  padding: 0px 0px 20px 20px!important;
}

.um-viewing .compcard > div:nth-child(2) > div > div{
display: inline-block;
overflow: hidden!important;
}

.um-viewing .compcard > div:nth-child(2) > div > div,
.um-viewing .compcard > div:nth-child(2) > div > div img
{

   object-fit: cover!important;
    width: 100%!important;
   height:70mm!important;
    object-position: 0 0;

}

.um-viewing .compcard > div:nth-child(2) > div:nth-child(3),
.um-viewing .compcard > div:nth-child(2) > div:last-child{
width: 98%!important;
max-height: 25mm!important;

}

}